:root {
    --main-color: #4E78E5;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-color);
}

main {
    display: inline-block;
    width: 50%;
    margin-top: 170px;
    margin-left: 25%;
}

main > div {
    width: 35%;
    float: left;
    margin-top: 100px;
}

h1 {
    color: white;
    font-size: 80px;
    margin: 0px;
    font-family: fantasy;
    font-weight: normal;
}

p {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0px;
    margin-bottom: 20px;
    font-family: fantasy;
}

a {
    color: white;
    text-decoration: none;
    font-family: Arial;
    border: 1px solid white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
}

img {
    width: 60%;
    float: right;
}